.components-page__container
  br
  hr
  br
  include base/_index.jade
  br
  hr
  br
  include accordion/index.jade
  br
  br
  br
  hr
  br
  br
  br
  include scroll-list/index.jade
  br
  br
  br
  br
  br
  br
  hr
  br
  include tile-list/index.jade
